body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-linear-gradient(-45deg,#51ffcb,#538fff,#7954fd);
}
.content {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 25px;
  border-radius: 5px;

}

.form .tituloHome {
  font-size: 25px;
  font-weight: 500;
  pointer-events: all;
  position: relative;
  padding: 4px;
}

.form .tituloHome::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: -webkit-linear-gradient(-45deg,#51ffe8,#53c0ff,#5f54fd);

}

.form form .Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}


.Home .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;

}


.Home .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}


